.loader {
  width: 90%;
  height: 50px;
  border: 2px solid rgb(247, 247, 247);
  color: rgb(247, 247, 247);
  border-radius: 20px;
  padding: 6px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.loader-fill {
  height: 100%;
  background: pink;
  z-index: 4;
  position: relative;
  border-radius: 14px;
}

.hearts {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.loader-value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(73, 73, 73);
  z-index: 5;
  font-size: 1.2rem;
  white-space: nowrap;
}
