.App {
  width: 100svw;
  max-width: 100svw;
  height: 100svh;
  max-height: 100svh;
  box-sizing: border-box;
  background-color: rgb(73, 73, 73);
}

.play-video-btn {
  background: none;
  border: none;
  outline: none;
  color: pink;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.4);
  }

  50% {
    transform: scale(1.2);
  }

  75% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1.2);
  }
}
